body {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h3 {
    margin-top: 2rem;
}

.row {
    margin-bottom: 1rem;
}

.row .row {
    margin-top: 1rem;
    margin-bottom: 0;
}

[class*="col-"] {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}